$black: #25272A;
$black_gray: #1F222980;
$white: #FFFFFF;
$brown_green: #333128;
$light_silver: #CDCAC1;

$desktop1920: 1920px;
$desktop: 1440px;
$tablet: 1023px;
$mobile: 767px;
$mobile468: 468px;
$mobile375: 375px;